<div class="content wide-content">
  <div id="pad-wrapper">
      <%= link_to 'Składniki', products_path, :class => 'btn-glow btn blue' %>
      <%= link_to 'Oddziały', departments_path, :class => 'btn-glow btn blue' %>
      <%= link_to 'Pizze', pizzas_path, :class => 'btn-glow btn blue' %>
  </div>
</div>

