/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

textarea.form-control {
  height: 39px;
  margin-bottom: 18px;
  resize: none;
  font-family: Tahoma, Geneva, sans-serif;
}

.form-control {
  height: 34px;
  padding: 6px 12px;
}

.btn-glow.save {
  background: linear-gradient(#d2ff52, #91e842);
}

.btn-glow {
  background: linear-gradient(#93cede, #49a5bf);
}

.btn {
  margin: 3px;
}

.content.wide-content {
  margin-left: 0;
  border-radius: 0;
}

.content {
  margin-bottom: 25px;
  padding-bottom: 20px;
  padding-top: 5px;

  min-width: 400px;
  min-height: 620px;
  overflow: visible;
  position: relative;
  background: #fff;
}

#pad-wrapper {
  padding: 0 17px 20px;
  margin-top: 22px;
}

table {
  text-align: center;
  border: 2px solid #DDD;
}

table tr {
  border-bottom: 1px solid #DDD;
}