<div class="content wide-content">

  <div id="pad-wrapper">

    <div class="row">
      <%= link_to 'Nowy składnik', new_product_path, :class => 'btn-glow btn blue' %>
    </div>

    <table>
      <thead>
        <tr>
          <th class="col-sm-6">Produkt</th>
          <th class="col-sm-3">Edytuj</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |p| %>
          <tr>
            <td class="col-sm-6"><%= p.name %></td>
            <td class="col-sm-3"><%= link_to 'Edytuj', edit_product_url(p) %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>

