<div class="content wide-content">

  <div id="pad-wrapper">
    <div class="row header">
      <div class="col-sm-12">
        Nowy składnik
      </div>
    </div>
      <%= render 'form' %>
  </div>
</div>

